body{ 
    background:linear-gradient(120deg,#FCAEAE,#3AA6B9);
    display: auto;
    align-items: auto;
    justify-content: auto;
    min-height: 100vh;
}
h1{
    color:#01212c;
    text-decoration: underline double rgb(0, 15, 26) 2px;;
    /*text-decoration-thickness:10px;*/
}
h2{
    font-family:cursive ;
    color:#144272;
    text-decoration: underline wavy rgb(0, 15, 26) 2.5px;
}
h3{
    font-size: x-large;
    color:#011a23;
}
p{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
hr{
    border-style: none;
    border-top-style: dashed ;
    border-color: rgb(90, 86, 86);
    border-width:5px;
    width:70%;
}
/*.wrapper{
    max-width: 250px;
}
.wrapper i{
    height: 46px;
    width:46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: aliceblue;
    border-radius: 50%;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.carousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/ 1);

}
.carousel img:first-child{
    margin-left: 0px;
}
@media screen and (max-width:900px) {
    
}
@media screen and (max-width:550px){
    .carousel img{
        width: 100%;
    }
}*/
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
   }

figure {
    position: relative;
    left: 0%;
    width: 100%;
    animation:  35s slide infinite;
}

.slide {
    position: relative;
    width: 30%;
    float: left;
}
.slide img {
    width: 100%;
    height: 400px;
}

@keyframes slide {
    0% {
        left:0;
    }

    10% {
        left: 0;
    }
    20% {
        left: 100%;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -300%;
    }

    50% {
        left: -200%;
    }

    55% {
        left: -300%;
    }

    65% {
        left: -300%;
    }

    66% {
        left: -200%;
    }

    74% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0;
    }

    100% {
        left: 0;
    }
}